$white: #fafafa

article#weather_informations
  font-family: 'Raleway', sans-serif

  header
    color: $white
    background-color: #292b37

    .row
      margin: 0 auto
      padding: 2em

      > div:first-child
        font-size: 1.5em

      > div:last-child
        text-align: right

  section
    table
      margin-top: 15vh
      table-layout: fixed
      width: 100%

      thead th
        color: #bfbfbf
        padding-bottom: 1em

      tbody
        th, td
          border: solid 1px $white
          text-align: center

        p
          font-weight: normal
          margin: 0

        tr
          th
            background: #f7e4e4
            padding: 1em 0
          td
            background: #f2f2f2
            padding: 0.5em

    canvas
      height: 50%
      max-width: 100%
